.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  min-height: 100vh;
  background-color: black;
}

.main h1 {
  color: white;
  margin-bottom: 5vh;
}
