.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  min-height: 100vh;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 45, 45, 0.6587009803921569) 100%
  );
}

.main h1 {
  color: white;
  margin-bottom: 5vh;
}
